apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: {{ .Values.backend.replicas }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ .Values.backend.service.port }}

          envFrom:
            - secretRef:
                name: k8sakademy-secret

          env:
            - name: MYSQL_ADDRESS
              value: {{ .Values.backend.env.mysqlAddress | quote }}

          livenessProbe:
            httpGet:
              path: {{ .Values.backend.probes.livenessPath }}
              port: {{ .Values.backend.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: {{ .Values.backend.probes.readinessPath }}
              port: {{ .Values.backend.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3
